
/*
flexbox froggy
*/

/*
para que el padding sea hacia adentro hay que usar la propiedad box-sizing en valor border-box
display: none quita el elemento de la pantalla 
*/


/*
Pasar los selectores a clases
hacer las columnas con ancho porcentual y display inline-blok 
*/


/*Selector de todas las etiquetas*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Para colocar las propiedades que van a ir heredando todos os elementos*/
html{

}

body{
   /* background-color: #ffc07f; */
    background-color: #eee; 

}

a{
    text-decoration: none;
    color: black;
}

i {
/*     font-weight: bold;
    font-size: 18px; */
}

/*Títulos*/

h1 {
    color: #ffc07f;
    text-align: center;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    padding: 10px;
}

h2 {
    color: #A5402D;
    text-align: center;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    padding: 10px 0;
}

h3 {
    color: #ffc07f;
    text-align: center;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    padding: 10px 0;
    background:#a5402d;
    border-radius: 8px 8px 0 0;
}


 article a h3:hover, h1:hover {
    color: #eee;
}


/*Navegación y listas*/

nav {
    text-align: center;
}


header div.contenedor-flex nav ul li {
    list-style: none;
    display: inline-block;
    /* background: #721121; */
    padding: 8px;
    /* padding-bottom: 10px; */
    transition: all 0.5s;
}

header div.contenedor-flex nav ul li:hover {
    background:#943525;
    transform: scale(1.3, 1.3);
}


nav ul li a {
    font-family: 'Playfair Display', serif;
    padding: 10px;
    color: #ffc07f;
}

nav ul li a:hover {
    color: #eee;
}

nav ul li i {
    list-style: none;
    display: inline-block;
    /* background: #721121; */
    padding: 8px;
    /* padding-bottom: 10px; */
    /* transform: scale(2, 2); */
    transition: all 0.5s;
}

nav ul li i:hover {
    transform: scale(1.3, 1.3);
}

footer nav ul li {
    padding-top: 10px;
    background: none;
}

footer ul li i {
    margin: 15px;
}

footer ul li a i {
    color: white;
}

div.contenedor ul li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
}

footer nav ul li a {
    font-family: 'Playfair Display', serif;
    padding: 10px;
    color: white;
}

footer nav ul li a:hover,
footer ul li a i:hover
   {
    color: #777;
}


/*Secciones*/

main{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}


header{
    margin: 0 auto;
    background-color: #a5402d;
    border-bottom: #ffc07f 10px solid;
    position: static;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.contenedor-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contenedor-categorias{
     display: flex;
     flex-wrap: wrap;
    /* flex-direction: row;  */
    justify-content: center;
    text-align: center;
}

.contenedor-categorias article img{
    max-width: 100%;
    margin: 0 auto;
    /* transition: all 0.5s; */
}


/* .contenedor-categorias article img:hover {
    transform: scale(1.1, 1.1);

} */


.quien-soy .contenedor-categorias {
    align-items: center;
}

.categorias {
    border: 1px solid #a5402d;
    border-radius: 10px;
    margin: 10px;
    max-width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.julian{    
    max-width: 25%;
    /* display: inline-block; */
}

.presentacion {
    max-width: 70%;
    /* display: inline-block; */
}


footer{
    background-color: #222;
    border-top: 10px solid #555;
    color: white;
}

p {
    font-family: 'Roboto', sans-serif;
    padding: 15px;
}

footer p {
    text-align: center;
}




/*PIE ABAJO*/

html, body {
    height: 100%;
    margin: 0;
  }

.wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }
  .footer,
  .push {
    height: 50px;
  }

/*FORMULARIOS*/

fieldset, input, textarea, select{
    margin: 10px;
}

/* 
input{
    margin: 10px;
}

textarea{
    margin: 15px;
}

select{
    margin: 15px;
} 
*/

.subir{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:#721121;
    color: #ffc07f;
}

/*Responsive */

@media screen and (max-width: 760px) {
    nav ul li a span {
        display: none;
    }

    .contenedor-flex{
        flex-direction: column;
        margin-bottom: 10px;
    }

    .julian, .presentacion, .categorias{    
        max-width: 100%;
        /* display: inline-block; */
    }

    .contenedor-categorias{
        flex-direction: column;
    }

}




--burgundy: #721121ff;
--chinese-red: #a5402dff;
--red-salsa: #f15156ff;
--mellow-apricot: #ffc07fff;
--deep-champagne: #ffcf99ff;

/* 
Colores 
550527
688E26
FAA613
F44708
A10702
*/


/* CSS HEX */

/*
--sage: #cdc392ff;
--alabaster: #e8e5daff;
--wild-blue-yonder: #9eb7e5ff;
--united-nations-blue: #648de5ff;
--y-in-mn-blue: #304c89ff;


--burgundy: #721121ff;
--chinese-red: #a5402dff;
--red-salsa: #f15156ff;
--mellow-apricot: #ffc07fff;
--deep-champagne: #ffcf99ff;

*/





