/*Pie*/

footer{
    background-color: #222;
    border-top: 10px solid #555;
    color: white;

    ul{
        display: flex;
        
        li{
            i{
                margin: 15px;
            }

            a{
                i{
                    color: white;

                    &:hover{
                        color: #777;
                    }
                }
            }
        }
    }

    nav{
        ul{
            li{
                padding-top: 10px;
                background: none;
                /*Oculta la página de contacto*/
/*                 &:nth-child(5){
                    display: none;
                } */

                a{
                    font-family: $fuente-titulos;
                    padding: 10px;
                    color: white;

                    &:hover{
                        color: #777;
                    }
                }
            }
        }
    }
}


/*PIE ABAJO - Solo en quien soy - Tomado desde CSS Tricks */

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%; 
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}
  
.footer, .push {
    height: 50px;
}