/*FORMULARIOS*/

fieldset, input, textarea, select{
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
}


legend{
    color:$color-principal;
    font-weight: bold;
    margin-left: 20px;
}

.boton{
    background-color: $color-principal;
    color: $color-secundario;
    font-family: 'Roboto', sans-serif;
}