/*Cabecera*/

header{
    margin: 0 auto;
    background-color: $color-principal;
    border-bottom: $color-secundario 10px solid;

    .contenedor-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;

        a{
            h1{
                &:hover{
                    color: $color-fondo;
                }        
            }
        }
        
        nav{
            z-index: 100;

            ul{
                
                li{
                    list-style: none;
                    display: inline-block;
                    padding: 8px;
                    transition: all 0.5s;
                    
                    &:hover{
                        background:#943525;
                        transform: scale(1.3, 1.3);
                    }
                    /* Oculta la página de contacto*/
                    &:nth-child(5){
                        display: none;
                    }

                    a{
                        font-family: $fuente-titulos;
                        padding: 10px;
                        color: $color-secundario;
        
                        &:hover{
                            color: $color-fondo;
                        }
                    }
        
                    i{
                        list-style: none;
                        display: inline-block;
                        padding: 8px;
                        transition: all 0.5s;
        
                        &:hover{
                            transform: scale(1.3, 1.3);
                        }
        
                    }

                    /*Borra el menú en teléfonos*/
                    /* @media screen and (max-width: $telefonos) {
                        display: none;
                    } */
                }
            }
        }
    }
}

/*Navegación y listas*/

.abrir, .cerrar{
    display: none;
}