.slider{

    width: 1200px;
    width: 100%;
    height: 450px;
    margin: auto;
    background-color: #ccc;

    div {
        img{
            height: 450px;
            width: auto;
            /* width: 1500px; */
            margin: 0 auto;
            
        }
    }
}