
/*Responsive  telefonos*/

@media screen and (max-width: $telefonos) {


    nav{
        text-align: center;
        z-index: 100;
    }

    .contenedor-flex{
        flex-direction: column;
        margin-bottom: 10px;
    }

    .presentacion, .categorias{    
        max-width: 100%;
    }

    .julian{
        margin: 0 auto;
        max-width: 100%;
    }

    .contenedor-categorias{
        flex-direction: column;
        
        .categorias{
            max-width: 100%;
        }
    }

    footer{
        .lista{
            display: flex;
            flex-direction: row;
        }
    }

    /*Formularios*/

    fieldset {
        padding-right: 20px;
    }

    input, input.boton{
        width: 100%;
    }

    /*Menú hamburguesa*/

      
    .abrir, .cerrar {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        text-align: right;
    }

    #nav{
         display: block;
         position: fixed;
         top: -100%;
         width: 100vw;
         height: 100vh;
         background-color: $color-principal;
         z-index: 1;
         transition: top 0.5s;

         ul{
             margin-top:30vh;
             display: flex;
             flex-direction: column;
            }

         &:target{
            top: 0;
         }
    } 
    


}


